.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--clr-orange-600);
  border: none;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--clr-orange-300);
  cursor: default;
}

.resetButton {
  background: none;
  border: none;
  margin-left: 16px;
}
