*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  font: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

:root {
  --clr-white-900: #ffffff;
  --clr-white-800: #f5f5f5;

  --clr-gray-900: #333;
  --clr-gray-300: #999fa6;

  --clr-black-800: #1b1f23;

  --clr-orange-600: #ff5500;
  --clr-orange-300: #ffa375;

  --border-radius: 8px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white-800);
  color: var(--clr-black-800);
  font-family: var(--ff-roboto), sans-serif;
}

.pageContent {
  padding: 24px 32px;
  flex-grow: 1;
}

.roundCorners {
  border-radius: var(--border-radius);
}
