.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-gray-900);
  color: var(--clr-white-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ticketCounter {
  background-color: var(--clr-orange-600);
  width: 28px;
  height: 28px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  display: grid;
  place-content: center;
}

.siteName {
  font-size: 32px;
  font-weight: 700;
}
