.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  padding: 24px;
  background-color: var(--clr-white-900);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
